@model WebApplication1.Models.Serie

@{
    ViewBag.Title = "Details";
    ViewBag.count = 2;
    ViewBag.bread = new List<Tuple<string, string>>();
    ViewBag.bread.Add(new Tuple<string, string>("Series", "Series"));
    ViewBag.bread.Add(new Tuple<string, string>(Model.nombre, "Series/Details/" + Model.serieID));
}

<h2>@Html.DisplayFor(model => model.nombre)</h2>

<div class="row">
    <div class="col-xs-6 col-md-4 col-lg-3 serie-detail">
        <img class="img-responsive" src="http://@Html.DisplayFor(model => model.image)" />
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.fechaEstreno)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.fechaEstreno)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.enEmision)
            </dt>

            <dd>
                @{
                    if (Model.enEmision) {
                        <span class="label label-success ">En emision</span>
                    }
                    else {
                        <span class="label label-danger">Finalizada</span>
                    }
                }

            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.genero)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.genero)
            </dd>

        </dl>
    </div>






    <div class="col-xs-6 col-md-6 col-lg-8 col-lg-offset-1 serie-detail">
        <div class="row">
            <a href="@Url.Action("Create", "Temporadas", new { id = Model.serieID})">
                <i class="fa fa-3x fa-plus-circle" aria-hidden="true"></i>
            </a>
        </div>

        <div class="top-space">
            <table id="tablaTemporadas" class="table tablaTemporadas">
                <thead class="text-info">
                    <tr>
                        <th>Temporada</th>
                        <th>Capitulos</th>
                        <th>Estado</th>
                        <th>Valor</th>
                        <th>Opciones</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model.temporadas) {

                        <tr>

                            <td>Temporada @Html.DisplayFor(modelItem => item.numero)</td>
                            <td>@item.capitulos.Count</td>
                            <td>
                                @{if (item.enEmision) {
                                        <span class="label label-success ">En emision</span>
                                    }
                                    else {
                                        <span class="label label-danger">Finalizada</span>
                                    }
                                }

                            </td>
                            <td>@Html.DisplayFor(modelItem => item.valor)</td>
                            <td>
                                <a href="@Url.Action("Details", "Temporadas", new { id= item.temporadaID} )" class="option-item text-success">
                                    <i class="fa fa-2x fa-info-circle"></i>
                                </a>

                                <a href="@Url.Action("Edit", "Temporadas", new { id= item.temporadaID} )" class="option-item text-info">
                                    <i class="fa fa-2x fa-edit"></i>
                                </a>

                                <a href="@Url.Action("Delete", "Temporadas", new { id= item.temporadaID} )" class="option-item text-danger">
                                    <i class="fa fa-2x fa-close"></i>
                                </a>
                            </td>

                        </tr>

                                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.serieID }) |
    @Html.ActionLink("Back to List", "Index")
</p>


@section scripts{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/DataTables")

}